/* Tarbell base styles */

body { padding-top: 40px; }
#body.container-fluid { max-width: 1170px; margin: 0 auto; }
img { max-width: 100%; height: auto; }
section { margin-bottom: 25px; padding-top: 40px; margin-top: -40px; }
