/* Account for sticky header navigation */
body.has-nav { padding-top: 41px; }
body.has-nav section { padding-top: 41px; margin-top: -41px; }

/* Reset nested link elements to default color */
a > * { color: #333; }
