/* Styles for readme */
#body.container-fluid { max-width: 1170px; margin: 0 auto; }

/* Defaults */
section { margin-bottom: 25px; }

/* Page titles */
.title { margin-bottom: 20px; }
#title, #subtitle { line-height: 60px; display: inline; }

/* Promo banner */
#promobox { margin-top: 20px; margin-bottom: 30px; border-bottom: 1px solid #ccc; }
#title { font-size: 60px; }
#subtitle { margin-left: 15px; }
#promobox .panel { margin-bottom: 30px; }
#promobox .panel img { margin-bottom: 10px; }
#promobox .panel h3 { font-size: 16px; line-height: 20px; text-align: center; margin: 0; }

/* Promobox: Shameless plug */
#shamelessplug img { float: left; width: 45%; margin-right: 5%; }

/* About box */
#aboutbox { padding-bottom: 30px; margin: 30px 0; border-bottom: 1px solid #ccc; }
#aboutbox,
#aboutbox p,
#aboutbox ol li,
#aboutbox ul li { font-size: 18px; line-height: 24px; font-weight: 400; margin-bottom: 24px; }

/* Getting started box */
#getting-started a { font-weight: bold; }
#getting-started p { display: inline; }
#getting-started em { font-style: normal; }
#getting-started ol { margin-top: 0; }

/* Documentation */
.doc-section { padding-bottom: 44px; }

.doc-section h1 { margin-top: 22px; margin-bottom: 22px; padding-top: 22px; border-top: 2px solid #999; }

.doc-section h1 + p { margin-top: 11px; margin-bottom: 33px; }

.doc-section p { max-width: 800px; }

.doc-section p,
.doc-section pre { margin-bottom: 22px; }

.doc-section h2,
.doc-section h3,
.doc-section h4,
.doc-section h5,
.doc-section h6 { margin-top: 44px; }

.aside { padding: 11px 11px 0 11px; margin-bottom: 22px; background-color: #f3f3f3; }
.doc-section .aside h2 { margin-top: 0; font-size: 22px; line-height: 28px; }

ul.directories { color: #666; }
ul.directories, ul.directories .code { font-size: 14px; line-height: 25px; }

/* Documentation: Source highlighting */
.doc-section pre { font-size: 13px; padding: 11px; background: #000; color: #f8f8f8; }
.doc-section pre code { font-size: 13px; padding: 0; }
.doc-section .highlight { background-color: #333; color: #ffa; padding-left: 5px; padding-right: 5px; }

/* Documentation: Images */
.doc-img { margin-bottom: 66px; border: 1px solid #999; }

@media all and (max-width: 767px) {
    #title, #subtitle { display: block; margin: 0; }
    #title { font-size: 32px; line-height: 32px; }
    #subtitle { font-size: 20px; line-height: 32px; }
    .panel { width: 100%; clear: both; margin-bottom: 60px; }
    .panel img { display: block; float: left; width: 55%; margin-right: 10px; }
    .panel h3 { margin-top: 10px; } 
}
